body {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgb(81, 199, 187);
}
li {
  list-style: none;
  display: inline-block;
}
header {
  text-align: center;
}
main {
  text-align: center;
  background-color: aquamarine;
  font-size: 25px;
}
h1 {
  text-align: center;
  color: black;
}
footer {
  background-color: rgba(42, 152, 152, 0.578);
}
p {
  line-height: 150%;
}
