/* --- Global Styles --- */

body {
  /* Đặt màu nền nhạt giống trong ảnh (có vẻ là màu trắng nhạt hoặc xám xanh nhạt) */
  background-color: #f7f7f0;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Header Layout --- */
header {
  background-color: grey;
}
nav {
  display: inline-block;
  width: 80%;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
.div1 {
  display: grid;
  background-color: yellow;
  grid-template-columns: 40% 40%;
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}
.div1 > img {
  width: 100%;
}
.div2 {
  display: flex;
  background-color: yellow;
  flex-wrap: wrap;
  justify-content: space-between;
}
